body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    columns: currentColor;
}

img {
    display: block;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;

    /* padding: 0 15px; */
    /* outline: 2px solid red; */
}